@{
   ViewBag.Title = "Code";
}
<ul class="breadcrumb">
   <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
   <li>@Html.ActionLink("Best Practices", "Index") <span class="divider">/</span></li>
   <li class="active">Code</li>
</ul>
<h2>
   Code</h2>
<h3>
   Code Block</h3>
<pre>
  &lt;p&gt;Sample text here...&lt;/p&gt;
</pre>
