@{
   ViewBag.Title = "Definition";
}
<ul class="breadcrumb">
   <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
   <li>@Html.ActionLink("Best Practices", "Index") <span class="divider">/</span></li>
   <li class="active">Definition</li>
</ul>
<h2>
   Definition List</h2>
<h3>
   Example</h3>
<dl class="dl-horizontal">
   <dt>Keyword</dt>
   <dd>
      Definition</dd>
</dl>
<h3>
   Code</h3>
<pre>
  &lt;dl class=&quot;dl-horizontal&quot;&gt;
     &lt;dt&gt;Keyword&lt;/dt&gt;
     &lt;dd&gt;
       Definition&lt;/dd&gt;
  &lt;/dl&gt;
</pre>

