@{
   ViewBag.Title = "DropDown";
}
<ul class="breadcrumb">
   <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
   <li>@Html.ActionLink("Best Practices", "Index") <span class="divider">/</span></li>
   <li class="active">DropDown</li>
</ul>
<h2>
   DropDown</h2>
<ul class="dropdown-menu">
   <li><a href="#"><i class="icon-pencil"></i>Edit</a></li>
   <li><a href="#"><i class="icon-trash"></i>Delete</a></li>
   <li><a href="#"><i class="icon-ban-circle"></i>Ban</a></li>
   <li class="divider"></li>
   <li><a href="#"><i class="i"></i>Make admin</a></li>
</ul>
