@{
    ViewBag.Title = "Html";
}
<ul class="breadcrumb">
   <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
   <li>@Html.ActionLink("Best Practices", "Index") <span class="divider">/</span></li>
   <li class="active">Html</li>
</ul>
<h2>Html</h2>

<h3>Abbreviation</h3>
<h4>Example</h4>
<p>This web site is about <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr>.</p>
<h4>Code</h4>
<pre>
This web site is about &lt;abbr title=&quot;HyperText Markup Language&quot;&gt;HTML&lt;/abbr&gt; and &lt;abbr title=&quot;Cascading Style Sheets&quot;&gt;CSS&lt;/abbr&gt;.
</pre>
<hr/>

<h3>Quotations</h3>
<h4>Example</h4>
<p>So I asked Bob about quotations on the Web and he said <q>I know as much about quotations as I do about pigeon fancying</q>. Luckily, I found HTML Dog and it said:</p>

<blockquote cite="http://www.htmldog.com/guides/html/intermediate/text/">
    <p>blockquote and q are used for quotations. blockquote is generally used for standalone often multi-line quotations whereas q is used for shorter, in-line quotations.</p>
</blockquote>