@{
   ViewBag.Title = "Radio";
}
<ul class="breadcrumb">
   <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider">/</span></li>
   <li>@Html.ActionLink("Best Practices", "Index") <span class="divider">/</span></li>
   <li class="active">Radio</li>
</ul>
<h2>
   Radio</h2>
<label class="radio">
   <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
   Option one is this and that—be sure to include why it's great
</label>
<label class="radio">
   <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
   Option two can be something else and selecting it will deselect option one
</label>
