<div class="modal hide" id="modalDelete">
    <div class="modal-header">
        <button type="button" class="close"
            data-dismiss="modal">
            ×</button>
        <h3>Delete Tenant?</h3>
    </div>
    <form id="frmDelete" data-bind="submit: function (form) { postDelete(form) }">
        <div class="modal-body">
            <p>Are you sure you want to delete this tenant?</p>
            <p><span id="spnDelete"></span></p>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    </form>
</div>
<script type='text/javascript'>

    $('#modalDelete').on('hide', function () {
        var form = $('#frmDelete');
        form.validate().resetForm();
        form.get(0).reset();
        form.removeData('itemOne');
        form.find("input[type='hidden'][id='id']").remove();
    });

    $('#modalDelete').on('show', function () {
        var form = $('#frmDelete');
        var itemOne = form.data('itemOne');
        if (!itemOne)
            return;

        $('<input>').attr('type', 'hidden')
                    .attr('id', 'id')
                    .attr('name', 'id')
                    .val(itemOne.id()).prependTo(form);
        @* This line will need changed *@
        $("#spnDelete").html('(' + itemOne.id() + ') ' + itemOne.domain());
    });

</script>
