@using IlinkDb.Entity

@{
    ViewBag.Title = "Index";
}

<div class="hero-unit">
    <h2>Tenants</h2>

    <div class="row">
        <div class="span2">
        </div>
        <div class="span4">
            <table id="tenants" class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Id</td>
                        <td>Tenant</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: tenantViewModel.itemList">
                    <tr>
                        <td width="20px">
                            <a href="#modalEdit" data-bind="click: function (form) { editItem() }" data-toggle="modal" class='icon-pencil'></a>
                        </td>
                        <td data-bind="text: id"></td>
                        <td class="item" data-bind="text: domain"></td>
                        <td width="20px">
                            <a href="#modalDelete" data-bind="click: function (form) { deleteItem() }" data-toggle="modal" class='icon-remove'></a>
                        </td>
                    </tr>
                </tbody>
            </table>
<div class="pull-right">
    <a id="modalAdd" class="btn btn-success" data-toggle="modal" href="#modalEdit">Add Tenant</a>
</div>
        </div>
        <div class="span6">
        </div>
    </div>
</div>
@section scripts
{
    <script type='text/javascript'>
        var restHost = 'localhost:30441';
        var controller = 'tenant';

        function tenant(tenant) {
            this.id = ko.observable(tenant.id);
            this.domain = ko.observable(tenant.domain);

            this.updateItem = function (tenant) {
                this.id(tenant.id);
                this.domain(tenant.domain);
            };

            this.editItem = function () {
                var form = $('#frmEdit');
                form.data('tenant', this);
            };

            this.deleteItem = function () {
                var form = $('#frmDelete');
                form.data('tenant', this);
            };
        }

        var tenantViewModel = {
            itemList: ko.observableArray([]),

            loadItemList: function () {
                var self = this;
                $.getJSON('http://' + restHost + '/' + controller + '/list',
                    function (itemList) {
                        self.itemList.removeAll();
                        $.each(itemList, function (index, item) {
                            self.itemList.push(new tenant(item));
                        });
                    }
                );
            }
        };

        $(function () {
            ko.applyBindings(tenantViewModel);
            tenantViewModel.loadItemList();

            am.initModal('modalEdit');
            am.initModal('modalDelete');

            //$('#story').myStoryBuddy({
            //    propertyName: 'a custom value'
            //});

        });



    </script>
}

@{ Html.RenderPartial("Edit", new Tenant()); }
@{ Html.RenderPartial("Delete"); }

