<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Aws settings stored in: C:\Windows\Microsoft.NET\Framework\v4.0.30319\Config\Machine.config
	                        and: C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Config\Machine.config
	-->
    <!--Valid options for RepositoryType are:
        1) EntityFramework (default)
        2) Ram or Memory
        3) DynamoDb
           The options are not case sensative.
    -->
    <add key="RepositoryType" value="Memory" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--http://docs.aws.amazon.com/AWSSdkDocsNET/latest/DeveloperGuide/net-dg-setup.html-->
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="true"/>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
